<div class="container-fluid well">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>CARTILLA</h3>
        </div>
    </div>
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <!--Editar / crear -->
            <table class="table">
                <tr>
                    <td>
                        <strong>FECHA:</strong> <input type="date" v-model="cartilla.fecha" class="form-control">
                    </td>
                    <td>
                        <strong>HORA:</strong> <input type="number" v-model="cartilla.hora" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>FAMILIA:</strong> <input type="text" v-model="cartilla.familia" class="form-control">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>EDAD:</strong> <input type="text" v-model="cartilla.edad" class="form-control">
                    </td>
                </tr>
                <template v-for="(c, index) in cartilla.objetivos">
                    <tr>
                        <td>
                            <strong><input type="text" class="form-control" v-model="c.titulo"></strong>
                        </td>
                        <td>
                            <!--<strong>CARTILLA Nº</strong>-->
                            <strong><input type="text" v-model="c.identificadores" class="form-control"></strong>
                        </td>
                    </tr>
                    <tr v-for="l in c.logros">
                        <td colspan="2">
                            <textarea class="form-control">{{l}} </textarea>
                        </td>
                    </tr>
                    <!--<tr>
                        <td colspan="2">
                            <template v-if="!c.descripcion && tempListDescripcion.logros.length">
                                <select v-model="c.descripcion" class="form-control">
                                    <option v-for="logro in tempListDescripcion.logros" :value="logro">{{logro}} </option>
                                </select>
                            </template>
                            <template v-else>
                                <textarea class="form-control" v-model="c.descripcion"></textarea>
                            </template>
                        </td>
                    </tr>-->
                </template>
            </table>
            <!--<div class="alert alert-info" v-show="enviado">
                <strong>Info</strong> Enviado a Cronograma
            </div>
            <button class="btn btn-primary btn-raised" @click="enviarACronograma">Agregar a cronograma</button>-->
        </div>
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <div class="togglebutton">
                <label>
                    <input checked="" type="checkbox" v-model="buscarFicha.modo"><span class="toggle"></span> Buscar en semanas
                </label>
            </div>
            <template v-if="buscarFicha.modo">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Semanas</label>
                        <input type="number" class="form-control" v-model="buscarFicha.semanas">
                    </div>
                </div>    
            </template>
            <template v-else>
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Mes</label>
                        <input type="number" class="form-control" v-model="buscarFicha.mes">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Semana</label>
                        <input type="number" class="form-control" v-model="buscarFicha.semana">
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <label for="">Semanas</label>
                        <input type="number" class="form-control" v-model="calcularSemanas" disabled>
                    </div>
                </div>
            </template>
            
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 well" v-for="(f, index, key) in buscarFichas">
                    <ficha :ficha="f" :id="f.id"></ficha>
                    <button class="btn btn-raised" @click="seleccionarFicha(f.id)">Agregar ficha</button>
                </div>
            </div>
            
        </div>
        
        <!--<div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Resumen de Información</h3>
                </div>
                <div class="panel-body">
                    Nombre del Facilitador: {{detalles[csvClaves.facilitador.nombre]}} <br>
                    Nombre del Cuidador: {{detalles[csvClaves.cuidador.nombre]}} <br>
                    Nombre del beneficiario: {{detalles[csvClaves.beneficiario.nombre]}} <br>
                    Semana: {{cartilla.semana}}
                </div>
            </div>
            <ficha v-if="typeof tempListDescripcion.tipo !== 'undefined'" :ficha="tempListDescripcion"></ficha>
        </div>        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Fichas Sugeridas</h3>
                </div>
                <div class="panel-body">
                    <ficha v-for="(fich, index, key) in fichasSugeridas" :key="index" :id="index" :ficha="fich"></ficha>
                </div>
            </div>
        </div>-->
        
    </div>
</div>