
<div class="panel panel-primary">
      <div class="panel-heading">
            <h3 class="panel-title">{{ficha.titulo}} </h3>
      </div>
      <div class="panel-body">
            <strong>ID</strong> {{id}} <br>
            <strong>Mes: </strong> {{ficha.mes}} <br>
            <strong>Semana: </strong> {{ficha.semana}} <br>
            <strong>Identificador: </strong> {{ficha.identificadores}} <br>
            <strong>Titulo: </strong> {{ficha.titulo}} <br>
            <strong>Logros: </strong>
            <textarea v-for="l in ficha.logros" rows="2" disabled class="form-control">{{l}} </textarea>
      </div>
</div>
