<div>
    <!--links Menu-->
    <nav class="navbar navbar-default" role="navigation">
        <!--<a class="navbar-brand" href="#">Title</a>-->
        <ul class="nav navbar-nav">
            <li :class="{ 'active': (vista === '0') }">
                <a href="#" @click="vista = '0'"><strong> INICIO</strong></a>
            </li>
            <li :class="{ 'active': (vista === '1') }">
                <a href="#" @click="vista = '1'">Ver CSV</a>
            </li>
            
            <li :class="{ 'active': (vista === '5') }">
                <a href="#" @click="vista = '5'">Lista de Beneficiarios</a>
            </li>
            <li :class="{ 'active': (vista === '7') }">
                <a href="#" @click="vista = '7'">Sync DB</a>
            </li>
            <li :class="{ 'active': (vista === '6') }">
                <a href="#" @click="vista = '6'">Ayuda</a>
            </li>
            <li :class="{ 'active': (vista === '8') }">
                <a href="#" @click="vista = '8'">Actualizaciones</a>
            </li>
        </ul>
    </nav>
    <!--navbar de abajo-->
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" v-show="verNavbarAbajo">
        <!--<a class="navbar-brand" href="#">Title</a>-->
        <ul class="nav navbar-nav">
            <li title="Ocultar">
                <a href="#" @click="verNavbarAbajo = false">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                </a>
            </li>
            <li :class="{ 'active': (vista === '3') }">
                <a href="#" @click="vista = '3'">Detalles</a>
            </li>
            <li :class="{ 'active': (vista === '2') }">
                <a href="#" @click="vista = '2'">Cartilla</a>
            </li>
            
        </ul>
    </nav>
    <div class="navbar-fixed-bottom">
        <button v-show="!verNavbarAbajo" @click="verNavbarAbajo = true" title="Ver Barra de Navegacion de Abajo" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
        </button>
    </div>
    
    

    <!--Inicio-->
    <div v-show="vista === '0'">
        <inicio :session.sync="session"></inicio>
    </div>

    <!--ver-csv-->
    <div class="row" v-show="vista === '1'">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button @click="seleccionarArchivo">Seleccionar Archivo</button>
            <input type="text" v-model="path">
            <button @click="leer">Leer</button>
            <input type="checkbox" v-model="verClaves">Ver Claves
            <ver-csv :data="data" :ver-claves="verClaves"></ver-csv>
        </div>
    </div>

    <!--Cartillas-->
    <ver-cartilla v-if="vista === '2' && detallesCartilla" :detalles="detallesCartilla"></ver-cartilla>

    <!--vista-detalles-->
    <ver-detalles v-if="vista === '3' && detalles" :detalles="detalles" @generar-cartilla="generarCartilla"></ver-detalles>
    

    <!--vista de listado-->
    <ver-lista v-show="vista === '5'" :data="data" @ver-detalles="verDetalles" @generar-cartilla="generarCartilla"></ver-lista>

    <!--vista de ayuda-->
    <ayuda v-if="vista === '6'"></ayuda>

    <!--Sincronizar con la BD-->
    <div v-show="vista === '7'">
        <div v-if="session.id">
            <sync-db :data="data" :session="session"></sync-db>
        </div>
        <div v-else class="container">
            <code>Requiere que te loguees en <a href="#" @click="vista = '0'">Inicio</a></code>
        </div>
    </div>

    <!--github-->
    <div v-if="vista === '8'" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <pre>{{verReadme}}</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Actualizaciones <small>y ultimos cambios</small></h3>
                <p>Revisa las actualizaciones y ultimos cambios en la pagina de github <a href="https://github.com/wilsongthb/electron-latigazo">aqui</a></p>
                <webview src="https://github.com/wilsongthb/electron-latigazo" style="height:1200px"></webview>
            </div>
        </div>
    </div>

    <!--pie de pagina-->
    <div class="container" style="
        padding-top: 20px;
        padding-bottom: 20px;
    ">
        <p>Latigazo Software - 2017</p>
    </div>
</div>