<div class="container well">
    <h3>AYUDA</h3>
    Pagina de ayuda, aqui encontraras ayuda acerca de como usar la aplicación

    <h3>Abrir un archivo CSV</h3>
    <video width="100%" controls src="render/assets/leer_csv_Video_1497372925.webm"></video>
    <ol>
        <li>Seleccionar archivo</li>
        <li>Leer</li>
        <li>Comprobar la correcta lectura del archivo</li>
    </ol>

    <h3>Filtrar lista</h3>
    <video width="100%" controls src="render/assets/filtrar_lista_Video_1497373974.webm"></video>
    <ul>
        <li>Puede agregar filtros</li>
        <li>Puede eliminar filtros</li>
        <li>Filtracion en tiempo real</li>
    </ul>
</div>