<div class="container">
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>CARTILLA</h3>
            <!--semanas <input type="number" v-model="detalles.edad.semanas">-->
        </div>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="well">
            <table border="2">
                <tr>
                    <td>
                        <strong>FECHA</strong>
                        <input type="date" v-model="cartilla.fecha">
                    </td>
                    <td class="text-right">
                        <strong>HORA</strong>
                        <input type="number" v-model="cartilla.hora">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>FAMILIA</strong>
                        <input type="text" v-model="detalles[csv_claves.facilitador.codigoFamilia]">    
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <strong>EDAD</strong>
                        {{detalles.edad.str}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>VIDA EN FAMILIA</strong>
                    </td>
                    <td>
                        CARTILLA N°
                        <select v-model="cartilla.num1">
                            <option v-for="(f, index) in fichas" value="index">{{f.semana}} - {{f.titulo}} </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <!--<button type="button" class="btn btn-large btn-block btn-default btn-raised" @click="generarCartilla">Generar cartilla</button>-->
            <!--<pre>{{fichasPorSemana}}</pre>
            <ul>
                <li v-for="item in fichasPorSemana">
                    <code>{{item}} </code>
                </li>
            </ul>-->
        </div>
    </div>
    
</div>