<div class="container-fluid">

    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
            <button type="button" @click="generarPDF" class="btn btn-info">Generar cronograma en PDF</button>
            <input type="text" class="form-control" v-model="nombre_pdf">

        </div>
    </div>
    
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="text-center">
                <h5>PROGRAMA NACIONAL CUNA MÁS – SERVICIO DE ACOMPAÑAMIENTO A FAMILIAS</h5>
                <h4>CRONOGRAMA DE VISITA AL HOGAR – Formato 3.1</h4>
            </div>
        </div>
    </div>
    
    <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <strong>COMITE DE GESTION</strong> <input type="text" class="form-control" v-model="comiteDeGestion">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <strong>FACILITADORA</strong> <input type="text" class="form-control" v-model="facilitador">
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <strong>SEMANA</strong> <input type="text" class="form-control" v-model="semana">
            </div>
    </div>
    
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2" v-for="(cartilla, index) in cartillas">
            <button type="button" class="close" aria-hidden="true" title="Eliminar" @click="cartillas.splice(index, 1)">&times;</button>
            <table class="table table-hover small well" border="1">
                <tr>
                    <td class="td-cronograma">
                        <strong>FECHA:</strong>
                        <!--<input type="date" v-model="cartilla.fecha" class="form-control" disabled>-->
                        {{cartilla.fecha}}
                    </td>
                    <td class="td-cronograma text-right">
                        <strong>HORA:</strong>
                        <!--<input type="number" v-model="cartilla.hora" class="form-control" disabled>-->
                        {{cartilla.hora}}
                    </td>
                </tr>
                <tr>
                    <td class="td-cronograma" colspan="2">
                        <strong>FAMILIA:</strong> 
                        <!--<input type="text" v-model="cartilla.familia" class="form-control" disabled>-->
                        {{cartilla.familia}}
                    </td>
                </tr>
                <tr>
                    <td class="td-cronograma" colspan="2">
                        <strong>EDAD:</strong>
                        <!--<input type="text" v-model="cartilla.edad" class="form-control" disabled>-->
                        {{cartilla.edad}}
                    </td>
                </tr>
                <template v-for="(c, index) in cartilla.objetivos">
                    <tr>
                        <td class="td-cronograma">
                            <strong>{{c.titulo}} </strong>
                        </td>
                        <td class="td-cronograma text-right">
                            <strong>{{c.identificadores}} </strong>
                            <!--<input type="number" v-model="c.numero"  @keyup.enter="definirFicha(c)" class="form-control" disabled>-->
                            <!--{{c.numero}}-->
                        </td>
                    </tr>
                    <tr>
                        <td class="td-cronograma" colspan="2">
                            <p>{{c.logros}}</p>
                        </td>
                    </tr>
                </template>
            </table>
        </div>
    </div>
    
</div>