<div class="container-fluid">
    
    <div class="row">
        <input type="checkbox" v-model="verFiltros">Ver filtros
    </div>
    
    <div class="row" v-show="verFiltros">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Filtros</h4>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <select v-model="filtro.clave" class="form-control">
                        <option v-for="c in clavesOptions()" :value="c.valor">{{c.valor}} - {{c.clave.toUpperCase()}} </option>
                    </select>
                    <input type="text" v-model="filtro.valor" placeholder="Buscar" class="form-control">
                    <button @click="agregarFiltro" class="btn btn-success">Agregar</button>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" v-show="filtros.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Clave</th>
                                <th>Valor</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(f, index) in filtros">
                                <td>{{listaClaves[f.key].toUpperCase()}}</td>
                                <td><input type="text" v-model="f.value"></td>
                                <td>
                                    <button @click="filtros.splice(index, 1)" class="btn-danger" title="Eliminar">
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>    
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 well">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>FACILITADOR</th>
                        <th>CUIDADOR</th>
                        <th colspan="4">BENEFICIARIO</th>
                    </tr>
                    <tr>
                        <th>NOMBRE</th>
                        <th>NOMBRE</th>
                        <th>NOMBRE</th>
                        <th>EDAD</th>
                        <th>MESES</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(i, index) in dataFiltrada" class="success" :class="{'warning': (i['edad'].meses>30), 'danger': (i['edad'].meses>36)}">
                        <td>{{i[keyData.facilitador.nombre]}} </td>
                        <td>{{i[keyData.cuidador.nombre]}} </td>
                        <td>{{i[keyData.beneficiario.nombre]}} </td>
                        <td>{{i['edad'].str}} </td>
                        <td>{{i['edad'].meses}} </td>
                        <td>
                            <button class="btn-success" title="Generar Cartilla" @click="generarCartilla(i)">
                                <span class="glyphicon glyphicon-modal-window" aria-hidden="true"></span>
                            </button>
                            <button class="btn-warning" title="Mas detalles" @click="verDetalles(i)">
                                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    
</div>