<div class="container">
    
    <div class="row">
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                        <h3 class="panel-title">Facilitador </h3>
                </div>
                <div class="panel-body">
                        <template v-for="(j, index) in csvClaves.facilitador">
                            <label>{{index}}: </label> {{detalles[j]}} <br>
                        </template>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                        <h3 class="panel-title">Ubicacion </h3>
                </div>
                <div class="panel-body">
                    <template v-for="(j, index) in csvClaves.ubicacion">
                        <label>{{index}}: </label> {{detalles[j]}} <br>
                    </template>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Cuidador </h3>
                </div>
                <div class="panel-body">
                    <template v-for="(j, index) in csvClaves.cuidador">
                        <label>{{index}}: </label> {{detalles[j]}} <br>
                    </template>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Beneficiario </h3>
                </div>
                <div class="panel-body">
                    <label>edad: </label> {{detalles.edad.str}} <br>
                    <label>meses: </label> {{detalles.edad.meses}} <br>
                    <label>Indice: </label> {{detalles.indice}} <br>
                    <template v-for="(j, index) in csvClaves.beneficiario">
                        <label>{{index}}: </label> {{detalles[j]}} <br>
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>